{% extends "base.html" %}
{% load static %}

{% block content %}
<script type="text/javascript" src="{% static "js/register.js" %}"></script>
        <section class="main registration">
            <div class="box">
                <h2>Rejestracja</h2>
                <!--todo: pokaż powiadomienie jeśli wystąpi błąd rejestracji-->
                <form action="." method="post" id="register-form">
                    {{ user_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Utworz konto"></p>
                </form>
            </div>
        </section>

{% endblock %}
