{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <title>Generator frajdy</title>

        <!-- styles -->
        <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Lato" rel="stylesheet">
        <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

        <!-- libraries -->
        <script type="text/javascript" src="{% static "js/lib/jquery-3.2.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/lib/jquery.validate.min.js" %}></script>

        <!-- scripts -->
        <script type="text/javascript" src="{% static "js/bubblewrap.js" %}"></script>
    </head>
    <body>
        <header>
            <a id="logo" href="{% url "fungenerator:main_page" %}" class="logo">GF</a>
            <nav>
                {% if user.is_authenticated %}
                    <p>Witaj {{request.user.first_name}}</p>
                    <a href="{% url "fungenerator:settings" %}" id="settings-link" class="settings-link"><i class="fa fa-cog" aria-hidden="true"></i></a>
                    <a id="logout-link" href="{% url "fungenerator:logout" %}" class="logout-link"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                {% else %}
                    <a id="login-link" href="{% url "fungenerator:login" %}" class="login-link"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                {% endif %}
            </nav>
        </header>

        {% block content %}
        {% endblock %}

        <footer>
            <p>Projektowanie Interfejsów. Grupa 1</p>
            <p>Małgorzata Olak, Krzysztof Niedzielski, Aleksandra Wierzbiak</p>
        </footer>
    </body>
</html>
