
{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="main funny_pictures">
        <div class="box">
            <h2>Śmieszne obrazki</h2>

            <div id="images-slider" class="slider images-slider">
		{% static "img/funnypic/" as base_url %}
		{% for item in images %}
                <div class="image-slide"><img alt="funnypicture" class="funnypic" src="{{ base_url }}{{ item }}"}"></div>
		{% endfor %}
            </div>
        </div>
    </section>

{% endblock %}


