
{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="main funny_pictures">
        <div class="box">
            <h2>Śmieszne obrazki</h2>

            <div id="images-slider" class="slider images-slider">
                <div class="image-slide"><img alt="funnypicture" class="funnypic" src="{% static "img/funnypic/funnycat.jpg" %}"></div>
                <div class="image-slide"><img alt="funnypicture" class="funnypic" src="{% static "img/funnypic/pugs.jpg" %}"></div>
                <div class="image-slide"><img alt="funnypicture" class="funnypic" src="{% static "img/funnypic/doge.jpg" %}"></div>
            </div>
        </div>
    </section>

{% endblock %}


