

{% extends "base.html" %}
{% load static %}

{% block content %}
<script type="text/javascript" src="{% static "js/settings.js" %}"></script>
<section class="main settings">
    <div class="box">
        <div class="fieldset">
            <h2>Preferencje</h2>
            <form id="settings-form" class="settings-form" action="." method="post">
		{% csrf_token %}
                <p>Co mnie śmieszy:</p>
                <ul class="funny-categories two-columns">
                    <li class="checkbox-item"><input id="id_animals" name="animals" type="checkbox" value="animals" {% if settings.animals %}checked{% endif %}><label>Zwierzęta</label></li>
                    <li class="checkbox-item"><input id="id_kids" name="kids" type="checkbox" value="kids" {% if settings.kids %}checked{% endif %}><label>Dzieci</label></li>
                    <li class="checkbox-item"><input id="id_fails" name="fails" type="checkbox" value="fails" {% if settings.fails %}checked{% endif %}><label>Porażki</label></li>
                    <li class="checkbox-item"><input id="id_stereotypes" name="stereotypes" type="checkbox" value="stereotypes" {% if settings.stereotypes %}checked{% endif %}><label>Stereotypy</label></li>
                    <li class="checkbox-item"><input id="id_language" name="language" type="checkbox" value="language" {% if settings.language %}checked{% endif %}><label>Językowe</label></li>
                    <li class="checkbox-item"><input id="id_absurd" name="absurd" type="checkbox" value="absurd" {% if settings.absurd %}checked{% endif %}><label>Absurd</label></li>
                </ul>
                
                <button id="settings-btn" class="button" type="submit">Zapisz ustawienia</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}
