

{% extends "base.html" %}
{% load static %}

{% block content %}
<script type="text/javascript" src="{% static "js/settings.js" %}"></script>
<section class="main settings">
    <div class="box">
        <div class="fieldset">
            <h2>Preferencje</h2>
            <form id="settings-form" class="settings-form" action="." method="post">
		{% csrf_token %}
                <p>Co mnie śmieszy:</p>
                <ul class="funny-categories two-columns">
                    <li class="checkbox-item"><input id="id_animals" name="animals" type="checkbox" value="animals"><label>Zwierzęta</label></li>
                    <li class="checkbox-item"><input id="id_kids" name="kids" type="checkbox" value="kids"><label>Dzieci</label></li>
                    <li class="checkbox-item"><input id="id_fails" name="fails" type="checkbox" value="fails"><label>Porażki</label></li>
                    <li class="checkbox-item"><input id="id_stereotypes" name="stereotypes" type="checkbox" value="stereotypes"><label>Stereotypy</label></li>
                    <li class="checkbox-item"><input id="id_language" name="language" type="checkbox" value="language"><label>Językowe</label></li>
                    <li class="checkbox-item"><input id="id_absurd" name="absurd" type="checkbox" value="absurd"><label>Absurd</label></li>
                </ul>
                
                <button id="settings-btn" class="button" type="submit">Zapisz ustawienia</button>
            </form>
        </div>

        <div class="fieldset">
            <h2>Zmiana hasła do konta</h2>
            <form id="settings-account-form" class="settings-account-form">
                <input id="settings-account-password-old" type="password" name="password_old" placeholder="Obecne hasło" minlength="6">
                <input id="settings-account-password-new" type="password" name="password_new" placeholder="Nowe hasło" minlength="6">
                <input id="settings-account-password-new2" type="password" name="password_new2" placeholder="Powtórz nowe hasło" minlength="6">
                <button id="settings-account-btn" class="button" type="submit">Aktualizuj</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}
