{% extends "base.html" %}
{% load static %}

{% block content %}
<script type="text/javascript" src="{% static "js/tickler.js" %}"></script>
<section class="main tickle">
    <div class="box">
        <h2>Łaskotnik</h2>
<form>
        <div class="controls">
            <ul class="controls-list">
                <li><button id="tickle-start" class="tickle-btn action"><i class="fa fa-play" aria-hidden="true"></i></button></li>
                <li><button id="tickle-fast" class="tickle-btn">Szybko</button></li>
                <li><button id="tickle-medium" class="tickle-btn">Standard</button></li>
                <li><button id="tickle-slow" class="tickle-btn">Wolno</button></li>
            </ul>
        </div>
    </div>
</form>
</section>

{% endblock %}

